.navbar_container{
    background-color: aqua;
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 60px 50px;
    padding-top: 20px;
    padding-left:10px;
    padding-right:10px;
}

/*menu*/
.menu_container a{
    font-size:1rem;
    padding:0 1rem;
    text-decoration:none;
    margin-top:18px;
    
}

.menu_container{
    display: flex;
    justify-content:center;
    /*align-items:flex-end;*/
}

/*buscar rapido*/
.buscar_container {
    display: flex;
   align-items:center;
}

.botonMenu{
    height:40px;
   
    
}

.botBusc {
    height: 35px;
   
}

/*logo*/
.logo_container{
    display: flex;
    align-items: center;
}
.imgLogo{
    height:100px;
    padding-left:10px;
}

.textoLogo{
    display:flex;
    flex-direction:column;
    align-items:center;
   margin-left:15px;
   height:60px;
    
}

/*propaganda*/

.propaganda_container {
    margin-top: -5px
}

.videomp4
{
    border-radius: 15px;
    margin-left: 4rem;
   
    height: 110px;
}
